@import url(base.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background: url("/search-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.agent-name {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.agent-container {
  display: flex;
}
.agent-img {
  width: 50%;
  height: 50%;
}
.buttons {
  display: flex;
}

.agent-abilities {
  width: 50%;
  margin-left: 0px;
}

.button {
  background-color: black;
}
.button-img {
  width: 4rem;
}

.agent-info-display {
  color: white;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
}

.agent-role{
  color: white;
  font-family: 'Oswald', sans-serif;
}

.agent-description{
  color: #fdf6e3;
}

.abil-name{
  font-size: 3em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@media (max-width: 1024px) {
  .agent-img {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .agent-container {
    flex-direction: column;
  }
  .agent-img {
    width: 100%;
  }
  .button-img {
    width: 2rem;
  }

  h1 {
    font-size: 6em;
  }
  .agent-name {
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .agent-abilities {
    width: 100%;
    margin-left: auto;
    margin: 20px;
  }
  body {
    background: url("/search-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
