@import url(base.css);
@import url(flip.css);
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Oswald:wght@200;400&family=Outfit:wght@800&display=swap');
body {
  background: url("/search-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header{
  color: #e3e3e3;
  text-align: center;
  font-family: 'Luxurious Roman', cursive;
}
header{
  background-color: #233142;
}
.cards-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  background-color: #fd4556;
  column-gap: 2rem;
  justify-content: center space-around;
  row-gap: 2rem;
}

.agent-link {
  width: 15rem;
  border: 10px double #fd4556;
  background-color: rgb(238, 238, 238);
}

.agent-link:hover {
  outline: 5px solid #2aa198;
}

.form-text {
  margin: auto;
  margin-top: 4rem;
  height: 4rem;
  width: 30rem;
  outline: none;
  padding: 2.5rem;
  font-size: 2rem;
}
