@import url(flip.css);
@import url(base.css);


#datashow{
  width: 100%;
}
.cards-display{
  display: flex;
  flex-wrap: wrap;
}

.agent-link{
  width: 20%;
  margin: 10px;
  border: 10px double green;
  background-color: aqua;
}

.agent-link:hover{
  outline: 5px solid red;
}