@import url(base.css);
@import url(flip.css);
body {
  background: url("../images/search-background.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cards-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  background-color: #fd4556;
  column-gap: 2rem;
  justify-content: center space-around;
  row-gap: 2rem;
  padding: 20px;
}

.agent-link {
  width: 15rem;
  border: 10px double #fd4556;
  background-color: rgb(228, 228, 228);
}

.agent-link:hover {
  outline: 5px solid #2aa198;
}

.search-form {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  margin-top: 8rem;
}

.form-text {
  height: 4rem;
  width: 30rem;
  outline: none;
  padding: 2.5rem;
  font-size: 2rem;
}
